/* Body styles */
body {
    font-family: Arial, sans-serif; /* Set the font family */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Arrange children in a column */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    height: 100vh; /* Full viewport height */
    background-image: url("iStock-536507269.jpg"); /* Background image */
    color: #fff; /* Text color set to white */
}

/* Navigation bar styles */
nav {
    background-color: #333; /* Dark background for the navbar */
    width: 100%; /* Full width */
    position: fixed; /* Fixed position at the top */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    padding: 10px; /* Padding around the navbar */
}

/* Styles for the unordered list in the navbar */
nav ul {
    list-style-type: none; /* Remove bullet points from list items */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex; /* Display list items in a row */
}

/* Styles for each list item in the navbar */
nav li {
    margin: 0 15px; /* Horizontal spacing between list items */
}

/* Styles for links in the navbar */
nav a {
    color: white; /* Link text color */
    text-decoration: none; /* Remove underline from links */
}

/* Hover effect for links in the navbar */
nav a:hover {
    text-decoration: underline; /* Underline links on hover */
}

/* Logo in container */
.logo-container {
    text-align: centre;
    margin: 20px 0; /* Space between nav and logo */
}

.logo {
    max-width: 20%; /* Scale the Logo */
    height: auto; /* Maintain aspect ratio */
}

/* Input field styles */
input {
    font-family: inherit; /* Inherit font from body */
    width: 100%; /* Full width of the container */
    border: 0; /* No border */
    border-bottom: 2px solid #9b9b9b; /* Bottom border with color */
    outline: 0; /* Remove outline on focus */
    font-size: 1.3rem; /* Font size for input */
    color: #fff; /* Text color set to white */
    padding: 7px 0; /* Vertical padding */
    background: transparent; /* Transparent background */
    transition: border-color 0.2s; /* Smooth transition for border color */
    text-align: center; /* Center text in input */
}

/* Button styles */
button {
    border-radius: 10px; /* Rounded corners for buttons */
}



